body.sobre-nosotros {
    padding-top: 70px;
    background-image: url('/Restaurante/carrusel/fn.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
}

.navbar-nav {
    width: 50%;
}

.navbar-nav .nav-link {
    font-family: 'Great Vibes', cursive;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
}

.card-header {
    font-size: 1.5rem;
}

ul.navbar-nav {
    margin: 0;
    padding: 0;
}

body.sobre-nosotros ul.navbar-nav {
    margin: 0;
    padding: 0;
}

.mapa-ubicacion {
    width: 100%;
    height: 600px;
    border: 0;
    border-radius: 0 0 10px 10px;
}

